#myNavbar{
    margin-bottom: 2%;
}

.postCover{
    width: 30%; 
    float:left;
    margin-right: 20px;
    margin-bottom: 10px; 
    border-radius: 5px;
    box-shadow: 10px 10px 5px #aaaaaa;
    background-color: white;
    padding: 10px 10px 15px 10px;
}

.commContainer{
    background-color: inherit;
    padding: 5px;
    border-left: 1px solid silver;
    margin-bottom: 80px !important;
}

.postContainer{
    display: table;
    position: relative;
    width: 100%;
    border-left:  1px solid silver;
    padding-left: 10px;
    padding-top: 5px;
    margin-bottom: 10px !important;
}

.timestamp{
    position: absolute;
    bottom: -15px;
    right: 0px; 
    text-decoration: underline;
    text-decoration-color: silver;
}

.postCoverIndex{
    width: 100%;
    box-shadow: none; 
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #2196F3;
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

img {
    max-width:100%;
    height:auto;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: silver !important;
    background-color: whitesmoke !important;
    text-align: center;
}

p,.footCompany{
    margin-bottom: 5px !important;
}

.footLinks{
    color: silver !important;
}

.lastComments{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
}

.commImg{
    overflow: auto;
}

.noDec{
    text-decoration: none !important;
}

#clock{
    font-family: "Palatino Linotype";
}

.dashForm{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    justify-content: space-evenly;
    grid-gap: 10px;
}

.fGroup{
    margin: 0.5rem;
}

.replyForm{
    margin-top: 10px;
}

.horDiv{
    width: 50%;
    border-top: 1px solid whitesmoke;
    margin-top: 10px;
}

.commBody{
    margin-bottom: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.smaller{
    width: 55px;
    height: 20px;
    line-height: 5px;
    padding: 5px;
}

.hrStyle{
    width: 70%;
    text-align:left;
    margin-left:0;
}

.nextPrev{
    float:right;
}

.commCount{
    border-bottom: 1px solid whitesmoke;
}

.noListStyle{
    list-style-type:none;
}

.bodyComm{
    background-color: whitesmoke; 
    border-radius: 5px;padding: 5px;
}

.removedComm, .clock{
    color: whitesmoke;
}

.repBody{
    background-color: whitesmoke; 
    border-radius: 5px;
    padding: 5px;
}

.badge-counter{
    background-color: whitesmoke; 
    border: 1px solid silver;
    vertical-align: top;
}

.authName{
    border-radius: 5px;
    float: left;
    margin-right:10px;
}

.dashImg{
    border-radius: 5px;
}

.DisplayNone{
    display: none;
}

.mainContainer{
    margin-bottom: 50px !important;
}

.grid-items {
    text-align: center;
}

a{
    text-decoration: none !important;
}

body > div:nth-child(2) > div:nth-child(1) > a.w3-bar-item.w3-button.w3-hide-medium.w3-hide-large.w3-right.w3-padding-large.w3-hover-white.w3-large.w3-theme-d2{
    position: absolute;
    right: 0px;
}

.w3-bar-item{
    height: 100% !important;
}
.grid-con{
    position: fixed;
    width: 100%;
    z-index:1;
    top: 0;
    display: grid; 
    grid-template-columns: auto auto auto auto auto;
    padding-top: 0;
    padding-bottom: 0;
}

@media screen and (max-width: 768px) {
    
    .grid-con{
        font-size: 12px !important;
    }

    .w3-padding-large {
        padding: 8px 16px !important;
    }

    body > div.w3-theme-d2.w3-large.grid-con > div:nth-child(1) > a.w3-bar-item.w3-button.w3-hide-medium.w3-hide-large.w3-right.w3-padding-large.w3-hover-white.w3-large.w3-theme-d2{
        padding-bottom: 12px !important;
    }
}

#myNavbar{
    background-color: #4d636f !important;
    color: #fff !important;
    font-size: 18px !important;
    font-family: Verdana, sans-serif;
    line-height: 1.5;
}

#navbarSupportedContent > ul:nth-child(2){
    margin-left: auto;
    margin-right: auto;
}